.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 103%;
  width: 100%;
  border: 1px solid var(--gray-alpha-40);
  border-radius: 6px;
  background-color: var(--main-bg);
  z-index: 10;
}

.option {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 10px;
  cursor: pointer;

  &:hover {
    background-color: var(--gray-alpha-10);
  }

  .icon {
    font-size: 1.6rem;
  }
}
