.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(45deg, transparent, var(--gray-alpha-40)),
        url(../../../assets/images/login_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    padding: 20px 10px;
    border-radius: 20px;
    box-shadow: var(--box-shadow-lg);
    background-color: var(--white);
}

.logo {
    width: 90px;
    height: 90px;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;

    h1 {
        font-size: 6rem;
        line-height: 1;
        background-image: var(--text-linear-gradient-color);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-background-clip: transparent;
    }

    h6 {
        font-size: 2rem;
        color: var(--black-alpha-40);
    }
}

.form {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-top: 20px;
    gap: 15px;

    h3 {
        margin-bottom: 15px;
        text-align: center;
        font-size: 3rem;
        color: var(--black);
    }
}

.input-email,
.input-password {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    border-radius: 8px;
    border: 1px solid var(--gray-alpha-20);
    background-color: var(--gray-alpha-10);

    input {
        flex: 1;
        height: 100%;
        font-size: 1.6rem;
        color: var(--black);
    }

    &:focus-within {
        border: 1px solid var(--blue);
    }

    &:focus {
        border: 1px solid var(--gray-alpha-20);
    }
}

.icon {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 10px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        background-color: var(--gray-alpha-10);
    }
}

.error {
    color: var(--red);
}

.login-btn {
    user-select: none;
    appearance: none;
    height: 40px;
    width: 180px;
    margin-top: 20px;
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 700;
    align-self: center;
    border-radius: 8px;
    color: #fff;
    background: var(--primary);
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.error-input {
    border: 1px solid var(--red);
}
