.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(45deg, transparent, var(--gray-alpha-40)),
        url(../../../assets/images/login_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    padding: 20px 10px;
    border-radius: 20px;
    box-shadow: var(--box-shadow-lg);
    background-color: var(--white);
}

.logo {
    width: 90px;
    height: 90px;
    object-fit: cover;
    user-select: none;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;

    h1 {
        font-size: 6rem;
        line-height: 1;
        background-image: var(--text-linear-gradient-color);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-background-clip: transparent;
        user-select: none;
    }

    h6 {
        font-size: 2rem;
        color: var(--black-alpha-40);
        user-select: none;
    }
}

h3 {
    margin-bottom: 15px;
    text-align: center;
    font-size: 3rem;
    color: var(--black);
    user-select: none;
}

.form {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.email,
.password {
    position: relative;
    width: 100%;
    margin-top: 16px;

    label {
        position: absolute;
        left: 10px;
        top: 50%;
        font-weight: 600;
        transform: translateY(-50%);
        user-select: none;
        pointer-events: none;
        color: var(--gray);
        transition: 0.25s ease;
    }
}

.email-ipt,
.password-ipt {
    font-size: 1.6rem;
    color: var(--text-color);
    width: 100%;
    height: 46px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--gray-alpha-40);
    transition: 0.25s ease;

    &:focus {
        border: 1px solid var(--blue);
    }

    &:not(:placeholder-shown) + label,
    &:focus + label {
        display: inline-block;
        top: 0;
        left: 10px;
        padding: 0 10px;
        background-color: var(--white);
        color: var(--blue);
    }
}

.password-ipt {
    padding-right: 40px;
}

.error-ipt {
    border: 1px solid var(--red);
}

.icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    color: var(--gray);
    cursor: pointer;

    &:hover {
        background-color: var(--gray-alpha-10);
    }
}

.error {
    display: block;
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--red);
}

.icon-warning {
    font-size: 1.2rem;
    margin-right: 4px;
}

.login-btn {
    user-select: none;
    appearance: none;
    height: 40px;
    width: 180px;
    margin-top: 20px;
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 700;
    align-self: center;
    border-radius: 8px;
    color: #fff;
    background: var(--text-linear-gradient-color);
    box-shadow: var(--box-shadow);
    opacity: 0.9;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}
