.wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 8px;
    bottom: 0;
    width: 330px;
    height: 400px;
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    border: 1px solid var(--gray-alpha-10);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: var(--second-bg);
}

.minimize-compose-modal {
    width: 250px;
    height: auto;
    right: 0;
    bottom: 0;
    transform: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    border-bottom: 1px solid var(--gray-alpha-20);

    .user-info {
        display: flex;
        align-items: center;

        .avatar {
            width: 36px;
            height: 36px;
            border-radius: 999px;
            object-fit: cover;
            box-shadow: var(--box-shadow);
            user-select: none;
        }

        .name {
            margin-left: 8px;
            font-size: 1.6rem;
            font-weight: 700;
        }
    }

    .action-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;

        .minimize-btn,
        .close-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--text-color);
            padding: 2px;
            font-size: 2.2rem;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background-color: var(--gray-alpha-10);
            }
        }
    }
}

.chat-box {
    flex: 1;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    flex-shrink: 0;
    width: 100%;
    padding: 10px 2px;

    .icon-image {
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        padding: 4px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: var(--gray-alpha-10);
        }
    }

    .input-message {
        flex: 1;
        padding: 12px;
        font-size: 1.6rem;
        border: 1px solid var(--gray-alpha-20);
        border-radius: 999px;
        box-shadow: var(--box-shadow);
        color: var(--text-color);
    }

    .emoji {
        position: relative;

        .emoji-icon {
            display: flex;
            align-items: center;
            font-size: 1.8rem;
            padding: 4px;
            border-radius: 4px;
            color: var(--text-color);
            cursor: pointer;

            &:hover {
                background-color: var(--gray-alpha-10);
            }
        }

        .picker-emoji {
            position: absolute;
            bottom: 130%;
            right: 0;
        }
    }

    .icon-send {
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        padding: 4px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: var(--gray-alpha-10);
        }
    }
}
