@import 'normalize.css';

:root {
    --red: #e41e3f;
    --white: #ffffff;
    --text-primary: #161823;
    --text-linear-gradient-color: linear-gradient(98.63deg, #f9a225 0%, #ff6a00 100%);
    --secondary-button-background: linear-gradient(177.34deg, #21a2ff, #8951ff 73.36%);

    --blue: rgb(24, 119, 242);
    --blue-alpha-90: rgba(24, 119, 242, 0.9);
    --blue-alpha-80: rgba(24, 119, 242, 0.8);
    --blue-alpha-60: rgba(24, 119, 242, 0.6);
    --blue-alpha-40: rgba(24, 119, 242, 0.4);
    --blue-alpha-20: rgba(24, 119, 242, 0.2);
    --blue-alpha-10: rgba(24, 119, 242, 0.1);
    --blue-alpha-05: rgba(24, 119, 242, 0.05);

    --skyBlue: #a4cde3;
    --skyBlue-alpha-80: rgba(164, 205, 227, 0.8);
    --skyBlue-alpha-60: rgba(164, 205, 227, 0.6);
    --skyBlue-alpha-40: rgba(164, 205, 227, 0.4);
    --skyBlue-alpha-20: rgba(165, 206, 227, 0.2);

    --black: #141416;
    --black-alpha-80: rgba(20, 20, 22, 0.8);
    --black-alpha-60: rgba(20, 20, 22, 0.6);
    --black-alpha-40: rgba(20, 20, 22, 0.4);
    --black-alpha-20: rgba(20, 20, 22, 0.2);

    --gray: #8e94a3;
    --gray-alpha-80: rgba(142, 148, 163, 0.8);
    --gray-alpha-60: rgba(142, 148, 163, 0.6);
    --gray-alpha-40: rgba(142, 148, 163, 0.4);
    --gray-alpha-20: rgba(142, 148, 163, 0.2);
    --gray-alpha-10: rgba(142, 148, 163, 0.1);
    --gray-alpha-05: rgba(142, 148, 163, 0.05);

    // DefaultLayout
    --default-background-color: rgb(1, 94, 194);
    --main-overlay-color: rgba(255, 255, 255, 0.91);

    //Font
    --font-family: 'ProximaNova', sans-serif;

    //Shadow
    // --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    --box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);

    //////////////
    --saturation-factor: 1;
    --text-black: #161823;
    --text-white: #ffffff;

    // mode default
    --main-bg: #e3f4ff;
    --second-bg: #ffffff;
    --main-color: #e3f4ff;
    --text-color: #161823;
    --second-color: #455560;
    --text-hover-color: var(--text-white);
    --button-primary: linear-gradient(
        90deg,
        hsl(269, calc(var(--saturation-factor, 1) * 52.7%), 52.7%),
        hsl(325, calc(var(--saturation-factor, 1) * 31.7%), 51.8%)
    );
    --button-secondary: linear-gradient(
        90deg,
        hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%),
        hsl(202, calc(var(--saturation-factor, 1) * 100%), 38%)
    );
    // --sidebar-item-color: linear-gradient(177.34deg, var(--hover-main-color), var(--hover-second-color) 73.36%);
    --sidebar-item-color: linear-gradient(
        90deg,
        hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%),
        hsl(202, calc(var(--saturation-factor, 1) * 100%), 38%)
    );

    // --second-color: #62b4ff;

    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    //light mode
    --main-bg-light: #ffffff;
    --second-bg-light: #fafafb;
    --text-color-light: #455560;
    --box-shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    //dark mode
    --main-bg-dark: hsl(216, calc(var(--saturation-factor, 1) * 7.2%), 13.5%);
    --second-bg-dark: hsl(0, 0%, 18%);
    --text-color-dark: #b9bbbe;
    --box-shadow-dark: rgba(0, 0, 0, 0.2) 0px 5px 10px;

    // Main color
    --main-color-radicchio: #cca6ac;
    --main-color-citron: #fbe983;
    --main-color-basil: #16a765;
    --main-color-blueBerry: #4986e7;
    --main-color-grape: #9360f7;
    --main-color-avocado: #b3dc6c;
    --main-color-eucalyptus: #42d692;
    --main-color-lavender: #9a9cff;
    --main-color-cocoa: #ac725e;
    --main-color-mango: #ffad46;
    --main-color-pistachio: #7bd148;
    --main-color-peacock: #9fe1e7;
    --main-color-wisteria: #b99aff;
    --main-color-graphite: #c2c2c2;
    --main-color-flamingo: #d06b64;
    --main-color-banana: #fad165;
    --main-color-sage: #92e1c0;
    --main-color-cobalt: #9fc6e7;
    --main-color-amethyst: #a47ae2;
    --main-color-birch: #cabdbf;
    --main-color-cyan: #10d4d2;
    --main-color-orange: #d68102;
    --main-color-lemon: #f7b928;
    --main-color-lime: #45bd62;
    --main-color-seafoam: #54c7ec;
    --main-color-teal: #2abba7;

    --hover-main-color: #349eff;
    --hover-second-color: #62b4ff;
    --active-main-color: #349eff;
    --active-second-color: #62b4ff;

    // --main-color-red: #fb0b12;
    // --second-color-red: #ff4a6b;
    --second-color-cyan: #2ae9e6;

    // --main-color-green: #019707;
    // --second-color-green: #4caf50;
    --second-color-orange: #fca11a;

    --transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
    height: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input {
    outline: none;
    border: none;
    font-family: var(--font-family);
    background-color: transparent;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

// Fonts emmbeded
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-bold.woff');
    font-weight: 700;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: overlay;
}

//Custom Tippy UI
body {
    .tippy-box {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 2.2rem;
        border-radius: 8px;
        color: var(--white);
        background-color: rgba(84, 84, 84, 0.7);
    }

    .tippy-content {
        padding: 8px;
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.7);
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
}

//Custom quill
body {
    .quill {
        display: flex;
        flex-direction: column;
        height: 100%;
        color: var(--text-color);
        overflow: hidden;
    }

    .ql-toolbar {
        width: 100%;
        border: 1px solid var(--gray-alpha-10) !important;
        border-radius: 4px;
    }

    .ql-container {
        flex: 1;
        border: none !important;
        overflow: overlay;
    }

    .ql-editor {
        font-size: 1.6rem;
    }

    .ql-picker {
        color: var(--gray-alpha-80) !important;
    }

    .ql-picker-options {
        background-color: var(--main-bg) !important;
    }
}

//Custom LightBox
body {
    .ReactModal__Content {
        background-color: var(--gray-alpha-10) !important;
        backdrop-filter: saturate(120%) blur(2px);
    }
}
