@import 'normalize.css';

:root {
    --black: #242d49;
    --white: #ffffff;
    --red: #e41e3f;
    --blue: #4a4eb7;
    --gray: rgba(36, 45, 73, 0.5);
    --text-primary: #161823;
    --text-secondary: #65676b;
    --primary: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
    --secondary-button-background: #e4e6eb;
    --input-outline: #dedfe1;
    --primary-button-background: #ff6a00;

    // DefaultLayout
    --default-layout-header-height: 60px;

    --font-family: 'ProximaNova', sans-serif;

    //Blur
    --blur-color: #a6ddf0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
    height: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
    font-family: var(--font-family);
}

a {
    color: var(--text-primary);
    text-decoration: none;
}

// Fonts emmbeded
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-bold.woff');
    font-weight: 700;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-primary);
    overflow-y: overlay;
}

//Custom Tippy UI
body {
    .tippy-box {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 2.2rem;
        border-radius: 8px;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px;
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
}

//Custom input-input-emoji
body {
    .react-emoji-picker--wrapper {
        border-radius: 5px;
        height: 360px;
    }
    .react-emoji {
        width: 88%;
    }

    .react-input-emoji--input {
        max-height: 55px;
        margin: 5px 0;
        font-size: 1.6rem;
        overflow: overlay;
    }

    .emoji-mart-scroll {
        overflow: overlay;
    }

    .emoji-mart.emoji-mart-dark {
        width: auto !important;
    }
}
