.radicchio-color {
    background-color: var(--main-color-radicchio);
}
.tangerine-color {
    background-color: var(--main-color-tangerine);
}
.citron-color {
    background-color: var(--main-color-citron);
}
.basil-color {
    background-color: var(--main-color-basil);
}
.blueBerry-color {
    background-color: var(--main-color-blueBerry);
}
.grape-color {
    background-color: var(--main-color-grape);
}
.cherryBlossom-color {
    background-color: var(--main-color-cherryBlossom);
}
.pumpkin-color {
    background-color: var(--main-color-pumpkin);
}
.avocado-color {
    background-color: var(--main-color-avocado);
}
.eucalyptus-color {
    background-color: var(--main-color-eucalyptus);
}
.lavender-color {
    background-color: var(--main-color-lavender);
}
.cocoa-color {
    background-color: var(--main-color-cocoa);
}
.tomato-color {
    background-color: var(--main-color-tomato);
}
.mango-color {
    background-color: var(--main-color-mango);
}
.pistachio-color {
    background-color: var(--main-color-pistachio);
}
.peacock-color {
    background-color: var(--main-color-peacock);
}
.wisteria-color {
    background-color: var(--main-color-wisteria);
}
.graphite-color {
    background-color: var(--main-color-graphite);
}
.flamingo-color {
    background-color: var(--main-color-flamingo);
}
.banana-color {
    background-color: var(--main-color-banana);
}
.sage-color {
    background-color: var(--main-color-sage);
}
.cobalt-color {
    background-color: var(--main-color-cobalt);
}
.amethyst-color {
    background-color: var(--main-color-amethyst);
}
.birch-color {
    background-color: var(--main-color-birch);
}
