.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    background-color: var(--main-bg);
    border: 1px solid var(--gray-alpha-20);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    color: var(--text-color);
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 46px;
    padding: 0 14px;
    background-color: var(--gray-alpha-10);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    padding: 8px;
    border-radius: 999px;
    color: var(--text-color);
    cursor: pointer;

    &:hover {
        background-color: var(--gray-alpha-10);
    }
}

.body {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    margin-top: 20px;
}
