//Menu wrapper
.menu-items {
    width: 224px;
}

//Menu item
.menu-item {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    font-family: var(--font);
    font-size: 1.6rem;
    font-weight: 600;
    background-color: transparent;
}
