.wrapper {
    --primary-color: var(--init-color);
    --second-color: var(--init-color-dark);

    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.sidebar {
    width: 300px;
    border-right: 1px solid var(--gray-alpha-20);
    overflow: auto;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;

        .title {
            font-size: 1.8rem;
            font-weight: 600;
        }

        .add-btn {
            display: flex;
            align-items: center;
            font-size: 1.8rem;
            cursor: pointer;
        }
    }

    .note-list {
        display: flex;
        flex-direction: column;
        padding: 0 10px;

        .note-title {
            font-size: 1.8rem;
            padding: 6px;
            margin: 4px 0;
            color: var(--text-color);
            border: 1px solid var(--gray-alpha-10);
            border-radius: 6px;
            box-shadow: var(--box-shadow);
            background-color: var(--main-bg);
            cursor: pointer;
            white-space: nowrap;

            &:hover {
                background-color: var(--gray-alpha-10);
            }
        }
    }
}

.note {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid var(--gray-alpha-20);

        .title {
            font-size: 2.2rem;
            font-weight: 700;
        }

        .action-btn {
            display: flex;
            align-items: center;

            .layout-sidebar-btn,
            .add-btn,
            .delete-btn {
                display: flex;
                align-items: center;
                font-size: 1.6rem;
                margin-left: 6px;
                padding: 4px;
                cursor: pointer;
            }

            .add-btn:hover {
                color: var(--blue);
            }
            .delete-btn:hover {
                color: var(--red);
            }
        }
    }

    .form {
        position: relative;
        display: flex;
        align-items: center;
        margin: 10px;
        padding: 10px;
        border: 1px dashed var(--gray);
        border-radius: 6px;

        .add-todo-ipt {
            flex: 1;
            margin-left: 30px;
            font-size: 1.8rem;
            color: var(--text-color);

            &:not(:placeholder-shown) ~ .icon-add-new-task {
                color: var(--text-color);
                cursor: pointer;
            }
        }

        .icon-add-new-task {
            position: absolute;
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            color: var(--gray-alpha-60);
            cursor: not-allowed;
        }
    }

    .todo-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 10px;
        padding: 10px 20px;
        overflow: auto;

        .item {
            position: relative;
            display: flex;
            align-items: center;
            width: calc((100% - 60px) / 4);
            min-height: 145px;
            transition: transform 0.2s ease;

            &:hover {
                transform: scale(1.08);
            }

            &:hover > .action-btn {
                opacity: 1;
            }

            .action-btn {
                position: absolute;
                top: 10px;
                right: 10px;
                opacity: 0;
                transition: opacity 0.2s ease;

                .icon-board,
                .icon-trash {
                    font-size: 1.4rem;
                    margin-left: 6px;
                    cursor: pointer;
                }

                .icon-board:hover {
                    color: var(--primary-color);
                }

                .icon-trash:hover {
                    color: var(--red);
                }
            }

            .border-left {
                height: 70%;
                width: 4px;
                flex-shrink: 0;
                border-radius: 8px;
                margin-right: 4px;
                background-color: var(--second-color);
            }

            .item-container {
                display: flex;
                align-items: center;
                height: 100%;
                flex: 1;
                padding: 6px;
                border-radius: 14px;
                border: 1px solid var(--gray-alpha-10);
                background-color: var(--main-bg);

                .checkbox {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-shrink: 0;
                    position: relative;
                    width: 40px;
                    height: 40px;
                    border: 1px solid var(--gray-alpha-05);
                    background-color: var(--gray-alpha-10);
                    border-radius: 999px;
                    margin: 0 14px 0 4px;
                    cursor: pointer;

                    .checkbox-ipt {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        visibility: hidden;

                        &:checked ~ .icon-check {
                            transform: scale(1);
                        }
                    }

                    .icon-check {
                        display: flex;
                        align-items: center;
                        transform: scale(0);
                        font-size: 30px;
                        color: var(--second-color);
                        transition: transform 0.3s var(--transition-cubic);
                    }
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    color: var(--text-color);
                    flex: 1;

                    .title {
                        font-size: 1.8rem;
                        font-weight: 700;
                        color: var(--primary-color);
                    }

                    .desc {
                        flex: 1;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-break: break-word;
                        opacity: 0.8;
                    }

                    .info-footer {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 6px;
                        font-size: 1.4rem;
                        font-weight: 600;
                        color: var(--primary-color);

                        .category {
                            padding: 0 6px;
                            border: 1px solid var(--second-color);
                            border-radius: 4px;
                        }

                        .time {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}

.done {
    --primary-color: var(--done-color);
    --second-color: var(--done-color-dark);
}

.warning {
    --primary-color: var(--warning-color);
    --second-color: var(--warning-color-dark);
}

.danger {
    --primary-color: var(--danger-color);
    --second-color: var(--danger-color-dark);
}
