.wrapper {
    display: flex;
    height: calc(100vh - var(--default-layout-header-height));
    overflow: visible;
}

.sidebar {
    width: 250px;
    border-right: 1px solid var(--gray-alpha-20);
    overflow: auto;
}

.create-task {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 80%;
    padding: 12px 16px;
    margin: 12px auto;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 6px;
    color: var(--white);
    background-color: var(--blue);
    box-shadow: var(--box-shadow);
    opacity: 0.85;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

.tags {
    display: block;
    margin: 30px 0 5px 10px;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--gray);
}

.content {
    flex: 1;
    overflow: overlay;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    height: 60px;
    padding: 6px 18px;
    border: 1px solid transparent;
    border-bottom: 1px solid var(--gray-alpha-20);
    cursor: pointer;

    &:hover {
        box-shadow: var(--box-shadow);
        border: 1px solid var(--gray-alpha-20);
    }
}

.item-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.item-title {
    margin-left: 20px;
    font-size: 1.8rem;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.date {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--gray);
    flex-shrink: 0;
}
