.wrapper {
    display: flex;
    height: calc(100vh - var(--default-layout-header-height));
    overflow: visible;
}

.notebook {
    min-width: 300px;
    border-right: 1px solid var(--gray-alpha-20);
    overflow: auto;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;

        .title {
            font-size: 2rem;
            font-weight: 600;
        }

        .action-btn {
            display: flex;

            .add-btn {
                font-size: 1.8rem;
                cursor: pointer;
            }
        }
    }

    .notebook-items {
        display: flex;
        flex-direction: column;
        padding: 0 10px;

        .item {
            font-size: 1.8rem;
            padding: 6px;
            margin: 4px 0;
            border: 1px solid var(--gray-alpha-20);
            border-radius: 6px;
            cursor: pointer;
        }
    }

    .trash {
        border-top: 1px solid var(--gray-alpha-20);
    }
}

.note {
    min-width: 400px;
    border-right: 1px solid var(--gray-alpha-20);
    overflow: auto;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;

        .title {
            font-size: 1.8rem;
            font-weight: 600;
        }

        .action-btn {
            display: flex;

            .add-btn {
                font-size: 1.8rem;
                cursor: pointer;
            }
        }
    }

    .note-items {
        display: flex;
        flex-direction: column;
        padding: 0 10px;

        .item {
            font-size: 1.8rem;
            padding: 6px;
            margin: 4px 0;
            border: 1px solid var(--gray-alpha-20);
            border-radius: 6px;
            cursor: pointer;
        }
    }
}

.note-content {
    flex: 1;
    padding: 10px;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid var(--gray-alpha-20);

        .title {
            font-size: 2.2rem;
            font-weight: 700;
        }

        .action-btn {
            display: flex;
            align-items: center;

            .edit-btn,
            .delete-btn {
                font-size: 1.6rem;
                margin-left: 6px;
                padding: 4px;
                cursor: pointer;
            }

            .edit-btn:hover {
                color: var(--blue);
            }
            .delete-btn:hover {
                color: var(--red);
            }
        }
    }

    .content {
    }
}
