.wrapper {
    width: 100%;
    padding: 6px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px;
    margin-bottom: 10px;
    color: var(--text-color);

    .calendar-time {
        font-weight: 600;
    }

    .action-btn {
        display: flex;
        align-items: center;
        gap: 4px;

        .icon-prev,
        .icon-next {
            display: flex;
            align-items: center;
            padding: 5px;
            font-size: 1.4rem;
            border-radius: 999px;
            cursor: pointer;

            &:hover {
                background-color: var(--gray-alpha-10);
            }
        }
    }
}
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 2px;
    width: 100%;
}

.day {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    height: 28px;
    user-select: none;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 2px;
    border-radius: 999px;
    opacity: 0.5;
    color: var(--text-color);
    cursor: pointer;

    &:hover {
        background-color: var(--gray-alpha-10);
    }
}

.sunday {
    color: red;
}

.saturday {
    color: blue;
}

.today {
    background-color: var(--blue) !important;
    color: var(--white) !important;
    opacity: 1;
}

.day-of-current-month {
    opacity: 1;
}

.selected {
    background-color: var(--blue-alpha-40);
    color: var(--blue);
    opacity: 1;

    &:hover {
        background-color: var(--blue-alpha-40);
    }
}
