.wrapper {
    position: relative;
    display: flex;
    gap: 10px;
    padding: 10px 6px;
    width: 100vw;
    height: 100vh;
    background-color: var(--second-bg);
}

.sidebar {
    border-radius: 10px;
    background-color: var(--main-color);
    box-shadow: var(--box-shadow);
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;

    .header {
        position: relative;
        width: 100%;
        border-radius: 10px;
        box-shadow: var(--box-shadow);
        background-color: var(--main-color);
    }

    .content {
        flex: 1;
        background-color: var(--second-bg);
        box-shadow: var(--box-shadow-lg);
        border-radius: 10px;
        overflow: hidden;
    }
}
