.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-bg-default);
}

.container {
    display: flex;
    height: calc(100vh - var(--default-layout-header-height));
    margin-top: var(--default-layout-header-height);
}

.sidebar {
    height: 100%;
    overflow-x: hidden;
    overflow-y: overlay;
}

.content {
    flex: 1;
    height: calc(100vh - var(--default-layout-header-height));
    background-color: var(--second-bg-default);
    box-shadow: var(--box-shadow-lg);
    border-top-left-radius: 5px;
    overflow: overlay;
}
