.wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    width: 700px;
    min-height: 600px;
    background-color: var(--main-bg);
    border: 1px solid var(--gray-alpha-40);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    color: var(--text-color);
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 46px;
    padding: 0 14px;
    background-color: var(--gray-alpha-10);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    padding: 8px;
    border-radius: 999px;
    color: var(--text-color);
    cursor: pointer;

    &:hover {
        background-color: var(--gray-alpha-10);
    }
}

.container {
    margin-top: 20px;
    padding: 10px;
}

.title {
    position: relative;
    width: 100%;
    margin-left: 20px;
}

.title-ipt {
    padding-bottom: 6px;
    width: 95%;
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--text-color);
    border-bottom: 1px solid var(--gray-alpha-20);

    &:focus ~ .label {
        transform: translateY(-22px);
        font-size: 1.6rem;
        color: var(--red);
    }

    &:focus ~ .underline-title-ipt::before {
        transform: scaleX(1);
    }

    &:valid ~ .label {
        transform: translateY(-22px);
        font-size: 1.6rem;
        color: var(--gray);
    }

    &:valid ~ .underline-title-ipt::before {
        background-color: var(--blue);
        transform: scaleX(1);
    }
}

.underline-title-ipt {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 95%;

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: var(--red);
        transform: scaleX(0);
        transition: all 0.3s ease;
    }
}

.label {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.8rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.calendar-tag {
    display: flex;
    margin-top: 30px;
}

.calendar {
    position: relative;
}

.desc {
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.icon {
    font-size: 1.8rem;
}

.desc-ipt {
    position: relative;
    width: 100%;
}

.textarea {
    width: 100%;
    min-height: 300px;
    padding: 8px;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--gray-alpha-10);
    border: none;
    outline: none;
    border-radius: 6px;
    resize: none;

    &:focus ~ .underline-desc::before {
        transform: scaleX(1);
    }
}

.underline-desc {
    position: absolute;
    bottom: 6px;
    left: 0;
    height: 2px;
    width: 100%;

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: var(--blue);
        transform: scaleX(0);
        transition: all 0.3s ease;
    }
}
