.wrapper {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 0 20px;

    .header-left {
        display: flex;
        align-items: center;
        gap: 10px;

        .calendar-icon {
            display: flex;
            align-items: center;
            font-size: 2rem;
            cursor: pointer;
        }

        .display-date {
            font-size: 1.8rem;
            line-height: 1;
            padding: 4px 10px;
            border: 1px solid var(--gray);
            border-radius: 4px;
            background-color: var(--gray-alpha-10);
        }

        .apply-btn {
            font-size: 1.8rem;
            padding: 4px 10px;
            border: 1px solid var(--gray-alpha-60);
            border-radius: 4px;
            cursor: pointer;
            user-select: none;
        }
    }

    .export-btn {
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 2px 4px;
        font-size: 1.6rem;
        font-weight: 600;
        cursor: pointer;
    }
}

.table {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    margin: 20px 5px 10px 5px;
    border-radius: 10px;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);

    .table-head {
        font-size: 2rem !important;
        font-weight: 700 !important;
        color: var(--text-color) !important;
        user-select: none;

        &:hover {
            background-color: transparent !important;
        }
    }

    .table-head,
    .table-row {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 100%;
        font-weight: 600;
        padding: 10px 6px 6px 6px;
        color: var(--gray);
        border-bottom: 1px solid var(--gray-alpha-20);

        &:hover {
            background-color: var(--gray-alpha-05);
            color: var(--text-color);
        }

        .identify {
            width: 10%;
        }

        .name {
            flex: 1;
        }

        .time-in {
            width: 10%;
            text-align: center;
        }

        .time-out {
            width: 10%;
            text-align: center;
        }

        .total {
            width: 10%;
            text-align: center;
        }

        .overtime {
            width: 10%;
            text-align: center;
        }

        .online {
            width: 6%;
            text-align: center;

            .dot-online {
                display: block;
                margin: 0 auto;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: green;
            }
        }

        .status {
            width: 10%;
            text-align: center;

            .pending {
                color: var(--red);
                padding: 2px 8px;
                border: 1px solid var(--gray-alpha-10);
                border-radius: 4px;
                background-color: rgba($color: red, $alpha: 0.1);
            }
        }

        .action {
            width: 10%;
            text-align: center;

            .detail-icon,
            .confirm-icon {
                font-size: 1.6rem;
                color: var(--blue);
                cursor: pointer;
            }

            .confirm-icon {
                margin-left: 10px;
                color: green;
            }
        }
    }
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    color: var(--text-color);

    .pagination-left {
        .select {
            position: relative;
            display: flex;
            width: fit-content;
        }

        .selected {
            display: flex;
            align-items: center;
            width: 41px;
            padding: 2px 4px;
            border: 1px solid var(--gray-alpha-60);
            border-radius: 4px;
            user-select: none;
            cursor: pointer;
        }

        .dropdown-icon {
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            margin-left: 4px;
        }

        .text-per-page {
            display: flex;
            align-items: center;
            margin-left: 10px;
            font-weight: 600;
        }

        .option {
            position: absolute;
            left: 0;
            top: 100%;
            width: 41px;
            display: flex;
            flex-direction: column;
            border: 1px solid var(--gray-alpha-60);
            border-radius: 4px;
            background-color: var(--main-bg);
            user-select: none;
            cursor: pointer;

            .select-option {
                padding: 2px 4px;

                &:hover {
                    background-color: var(--gray-alpha-10);
                }
            }
        }
    }

    .pagination-right {
        display: flex;
        align-items: center;
        gap: 20px;

        .prev-btn,
        .next-btn {
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            padding: 4px;
            border: 1px solid var(--gray-alpha-20);
            box-shadow: var(--box-shadow);
            border-radius: 4px;
            background-color: var(--second-bg);
            color: var(--text-color);
            cursor: pointer;

            &:hover {
                background-color: var(--gray-alpha-20);
            }
        }

        .page {
            user-select: none;

            .number {
                margin: 0 6px;
                font-weight: 600;
                padding: 2px 8px;
                border: 1px solid var(--gray);
                border-radius: 4px;
            }
        }
    }
}
