.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    border-bottom: 1px solid var(--gray-alpha-40);

    .header-left {
        display: flex;
        user-select: none;

        .user-info {
            display: flex;
            align-items: center;

            .avatar {
                position: relative;
                display: flex;
                align-items: center;

                .photo {
                    width: 40px;
                    height: 40px;
                    border-radius: 999px;
                    object-fit: cover;
                }

                .icon-dot {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    right: -3px;
                    bottom: -3px;
                    border-radius: 50%;
                    background-color: var(--main-bg);
                    color: green;
                }
            }

            .user-name {
                display: flex;
                flex-direction: column;
                margin-left: 12px;

                .name {
                    font-weight: 700;
                }
            }
        }
    }

    .header-right {
        display: flex;
        align-items: center;

        .voice-call-btn,
        .video-call-btn,
        .add-friend-btn,
        .hide-sidebar-right-btn,
        .setting-btn {
            font-size: 2rem;
            padding: 4px;
            margin: 0 10px;
            border-radius: 50%;
            cursor: pointer;
        }

        .voice-call-btn {
            transform: rotate(-45deg);
        }
    }
}

.container {
    display: flex;
    height: calc(100% - 57px);
}

.chat-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;

    .content {
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding: 10px 20px;
        height: 100%;
        overflow: overlay;

        .begin-message {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
            user-select: none;

            .user-avatar-begin {
                width: 80px;
                height: 80px;
                border-radius: 999px;
                object-fit: cover;
            }

            .user-name {
                margin-top: 10px;
                font-size: 3rem;
                font-weight: 500;
            }

            .welcome-text {
            }
        }

        .message {
            display: flex;
            gap: 10px;
            margin-bottom: 10px;
        }

        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 999px;
            object-fit: cover;
            box-shadow: var(--box-shadow);
            flex-shrink: 0;
        }

        .message-content {
            display: flex;
            flex-direction: column;
            max-width: 90%;
            gap: 4px;

            .user-info {
                display: flex;
                align-items: center;
                gap: 10px;
                color: var(--text-color);

                .name {
                    font-size: 1.8rem;
                    font-weight: 700;
                }

                .chat-time {
                    font-size: 1.4rem;
                }
            }
        }

        .image {
            width: 400px;
            object-fit: cover;
        }
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        padding: 10px;
        margin: 0 10px 10px 10px;
        gap: 10px;
        border: 1px solid var(--gray-alpha-20);
        border-radius: 10px;
        background-color: var(--main-bg);
        box-shadow: var(--box-shadow);

        .icon-image {
            display: flex;
            align-items: center;
            font-size: 2.2rem;
            padding: 6px;
            border-radius: 999px;
            cursor: pointer;

            &:hover {
                background-color: var(--gray-alpha-20);
                border-radius: 10px;
            }
        }

        .input-message {
            flex: 1;
            padding: 12px 20px;
            font-size: 1.6rem;
            border: 1px solid var(--gray-alpha-20);
            border-radius: 999px;
            box-shadow: var(--box-shadow);
            color: var(--text-color);
        }

        .emoji {
            position: relative;
        }

        .emoji-icon {
            display: flex;
            align-items: center;
            font-size: 2.2rem;
            padding: 6px;
            border-radius: 999px;
            color: var(--text-color);
            cursor: pointer;

            &:hover {
                background-color: var(--gray-alpha-20);
                border-radius: 10px;
            }
        }

        .picker-emoji {
            position: absolute;
            bottom: 130%;
            right: 0;
        }

        .icon-send {
            display: flex;
            align-items: center;
            font-size: 2.2rem;
            padding: 6px;
            border-radius: 999px;
            cursor: pointer;

            &:hover {
                background-color: var(--gray-alpha-20);
                border-radius: 10px;
            }
        }
    }
}

.sidebar-right {
    width: 340px;
    height: 100%;
    border-left: 1px solid var(--gray-alpha-20);

    .banner {
        position: relative;
        width: 100%;
        height: 160px;
        margin-bottom: 50px;

        .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .avatar {
            position: absolute;
            top: 100%;
            left: 20px;
            transform: translateY(-50%);
            width: 80px;
            height: 80px;
            border: 4px solid var(--main-bg);
            border-radius: 999px;

            .photo {
                width: 100%;
                height: 100%;
                border-radius: 999px;
                object-fit: cover;
            }

            .icon-dot {
                display: flex;
                align-items: center;
                position: absolute;
                font-size: 2.2rem;
                right: -3px;
                bottom: -2px;
                border-radius: 50%;
                background-color: var(--main-bg);
                color: green;
            }
        }
    }

    .user-name {
        font-size: 2.2rem;
        font-weight: 700;
        margin: 0 20px;
    }

    .profile {
        width: 310px;
        margin: 10px auto;
        border: 1px solid var(--gray-alpha-20);
        border-radius: 6px;

        .label {
            display: flex;
            flex-direction: column;
            position: relative;
            font-size: 1.8rem;
            font-weight: 500;
            padding: 10px;

            &::after {
                position: absolute;
                content: '';
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                height: 2px;
                width: 70%;
                background-color: var(--gray-alpha-10);
            }

            &:last-child::after {
                display: none;
            }

            .email {
                font-size: 1.6rem;
                font-weight: 500;
            }
        }
    }
}
