.menu-item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-size: 1.8rem;
    border-radius: 4px;
    color: var(--text-secondary);
    transition: background-color ease-in-out 200ms;

    &.active {
        color: red;
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.icon,
.right-icon {
    display: flex;
    font-size: 2rem;
}

.title {
    display: flex;
    margin-left: 15px;
}

.right-icon {
    position: absolute;
    right: 0;
}
