.wrapper {
    display: flex;
    height: 100%;
    color: var(--text-color);
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-right: 1px solid var(--gray-alpha-20);

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-top-left-radius: 10px;
        user-select: none;

        .label {
            font-size: 2rem;
            font-weight: 700;
            color: var(--text-color);
        }

        .add-channel-btn {
            display: flex;
            align-items: center;
            font-size: 1.8rem;
            padding: 4px;
            cursor: pointer;
        }
    }
}

.search {
    padding: 10px 0 20px 0;
    margin: 10px;
    border-bottom: 2px solid var(--gray-alpha-40);
}

.channel-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 6px;
    overflow: hidden;

    &:hover {
        overflow: overlay;
    }
}

.item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
    box-shadow: var(--box-shadow);
    border-radius: 6px;
    background-color: var(--main-bg);
    transition: background-color 0.2s;
    color: var(--text-color);
    cursor: pointer;

    &:hover {
        background-color: var(--gray-alpha-20);
    }

    .title {
        font-size: 1.8rem;
        font-weight: 700;
    }

    .desc {
        font-size: 1.4rem;
    }
}

.member-list {
    display: flex;
    flex-direction: column;
    padding: 4px;
    width: 200px;
    background-color: var(--main-bg);
    border-left: 1px solid var(--gray-alpha-20);

    .label {
        padding: 10px;
        font-size: 2rem;
        font-weight: 700;
        color: var(--text-color);
    }

    .member {
        display: flex;
        align-items: center;
        padding: 6px;
        margin-top: 6px;
        gap: 6px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: var(--gray-alpha-10);
        }

        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 999px;
            object-fit: cover;
            box-shadow: var(--box-shadow);
            flex-shrink: 0;
        }

        .name {
            font-size: 1.8rem;
            font-weight: 700;
        }
    }
}
