.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid var(--gray-alpha-05);
    box-shadow: var(--box-shadow);

    .header-left {
        .title {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 1.8rem;
            font-weight: 700;
        }

        .desc {
        }
    }

    .header-right {
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    height: calc(100% - 72px - 10px);
    margin-top: 4px;
    box-shadow: var(--box-shadow-sm);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px 0 10px 10px;
    height: 100%;
    overflow: auto;
}

.message {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 999px;
    object-fit: cover;
    box-shadow: var(--box-shadow);
    flex-shrink: 0;
}

.message-content {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    gap: 4px;

    .user-info {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--text-color);

        .name {
            font-size: 1.8rem;
            font-weight: 700;
        }

        .chat-time {
            font-size: 1.4rem;
        }
    }
}

.image {
    width: 400px;
    object-fit: cover;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    // width: 100%;
    padding: 10px;
    margin: 0 10px 10px 10px;
    gap: 10px;
    border: 1px solid var(--gray-alpha-20);
    border-radius: 10px;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
}

.icon-image {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    padding: 6px;
    border-radius: 999px;
    cursor: pointer;

    &:hover {
        background-color: var(--gray-alpha-20);
        border-radius: 10px;
    }
}

.input-message {
    flex: 1;
    padding: 12px 20px;
    font-size: 1.6rem;
    border: 1px solid var(--gray-alpha-20);
    border-radius: 999px;
    box-shadow: var(--box-shadow);
    color: var(--text-color);
}

.emoji {
    position: relative;
}

.emoji-icon {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    padding: 6px;
    border-radius: 999px;
    color: var(--text-color);
    cursor: pointer;

    &:hover {
        background-color: var(--gray-alpha-20);
        border-radius: 10px;
    }
}

.picker-emoji {
    position: absolute;
    bottom: 130%;
    right: 0;
}

.icon-send {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    padding: 6px;
    border-radius: 999px;
    cursor: pointer;

    &:hover {
        background-color: var(--gray-alpha-20);
        border-radius: 10px;
    }
}
