.wrapper {
    border-radius: 10px;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid var(--gray-alpha-20);

    .title {
        font-size: 2rem;
        font-weight: 700;
        color: var(--text-color);
    }

    .calendar {
        display: flex;
        align-items: center;
        position: relative;
        width: 150px;
        padding: 4px 8px;
        border: 1px solid var(--gray-alpha-40);
        border-radius: 6px;
        user-select: none;

        .select-calendar {
            display: flex;
            align-items: center;
            width: 100%;
            cursor: pointer;

            .icon-calendar,
            .icon-dropdown {
                display: flex;
                align-items: center;
                font-size: 1.6rem;
            }

            .icon-calendar {
                margin-right: 10px;
            }

            .icon-dropdown {
                margin-left: auto;
                transition: all 0.3s;
            }
        }

        .open-calendar .icon-dropdown {
            transform: rotate(90deg);
        }
    }
}

.table {
}
