.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.container {
    width: 100%;
    height: calc(100vh - var(--default-layout-header-height));
    margin-top: ;
    display: flex;
}

.content {
    flex: 1;
}

//blur
// .blur1 {
//     position: absolute;
//     width: 350px;
//     height: 350px;
//     top: -18%;
//     right: 0;
//     border-radius: 50%;
//     background-color: var(--blur-color);
//     filter: blur(50px);
//     z-index: 1;
// }

// .blur2 {
//     position: absolute;
//     width: 350px;
//     height: 290px;
//     bottom: 30%;
//     left: 0;
//     border-radius: 50%;
//     background-color: var(--blur-color);
//     filter: blur(50px);
//     z-index: 1;
// }

// .blur3 {
//     position: absolute;
//     width: 250px;
//     height: 190px;
//     bottom: 5%;
//     left: 0;
//     border-radius: 50%;
//     background-color: var(--blur-color);
//     filter: blur(50px);
//     z-index: 1;
// }
