.wrapper {
    display: flex;
    flex-direction: column;
    padding: 6px;
    height: 100%;
    margin: auto;
    background-color: var(--main-color);
    box-shadow: var(--box-shadow);
    border-radius: 6px;
}

.avatar {
    width: 40px;
    height: 40px;
    border: 1px solid var(--gray-alpha-10);
    box-shadow: var(--box-shadow);
    border-radius: 999px;
    object-fit: cover;
}

.icon-info,
.icon-edit,
.icon-delete {
    color: var(--text-color);
    margin-left: 2px;
    font-size: 1.6rem;
    padding: 4px;
    cursor: pointer;
}

.icon-info:hover {
    color: var(--main-color-basil);
}

.icon-edit:hover {
    color: var(--main-color-blueBerry);
}

.icon-delete:hover {
    color: var(--main-color-flamingo);
}
