.wrapper {
  position: absolute;
  top: 105%;
  right: 0;
  width: 440px;
  border: 1px solid var(--gray-alpha-20);
  border-radius: 10px;
  background-color: var(--main-bg);
  padding: 14px;
  box-shadow: var(--box-shadow);
  z-index: 999;
  user-select: none;
}

.header {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 2.2rem;
    font-weight: 700;
  }

  .sub-title {
    font-size: 1.4rem;
    font-weight: 500;
    opacity: 0.7;
  }
}

.form-search {
  width: 100%;
}

.label-member {
  font-weight: 500;
}

.member-list {
  min-height: 200px;
  max-height: 326px;
  padding-right: 6px;
  overflow-y: overlay;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-radius: 8px;
  margin-top: 4px;

  &:hover {
    background-color: var(--gray-alpha-20);
  }

  .info {
    display: flex;
    align-items: center;

    .avatar {
      position: relative;
      display: flex;
      align-items: center;

      .photo {
        width: 40px;
        height: 40px;
        border-radius: 999px;
        object-fit: cover;
      }

      .icon-dot {
        display: flex;
        align-items: center;
        position: absolute;
        right: -3px;
        bottom: -3px;
        border-radius: 50%;
        background-color: var(--main-bg);
        color: green;
      }
    }

    .user-name {
      display: flex;
      flex-direction: column;
      margin-left: 12px;

      .name {
        font-weight: 700;
      }
    }
  }

  .remove-btn {
    cursor: pointer;

    .icon-remove {
      font-size: 2.2rem;
      color: var(--danger-color-dark);
      transform: scale(1);
      transition: transform 0.05s linear;

      &:active {
        transform: scale(0.8);
      }
    }
  }
}

.no-friends {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;

  .image {
    width: 85px;
    height: 85px;
    background-image: url('../../../../assets/images/search.svg');
    object-fit: cover;
  }

  .text {
    margin-top: 10px;
    opacity: 0.7;
  }
}

.submit-btn {
  width: 100%;
  margin-top: 10px;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--text-white);
  background-color: var(--blue);
  border-radius: 6px;
  padding: 12px 20px;
  opacity: 0.85;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
