.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.sidebar {
  width: 240px;
  flex-shrink: 0;
  border-right: 1px solid var(--gray-alpha-20);

  .search {
    padding: 8px;
    border-bottom: 1px solid var(--gray-alpha-40);
  }

  .friends {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 8px;
    padding: 8px 12px;
    color: var(--text-color);
    border-radius: 4px;
    transition: background-color 0.2s;
    cursor: pointer;

    &:hover {
      background-color: var(--gray-alpha-20);
    }

    .title {
      font-size: 1.6rem;
      font-weight: 500;
    }
  }

  .active {
    background-color: var(--gray-alpha-20);
  }

  .direct-messages {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 10px 10px 16px;

    .title {
      font-size: 1.4rem;
      font-weight: 500;
      user-select: none;
    }

    .create-message-btn {
      display: flex;
      align-items: center;
      font-size: 2.2rem;
      cursor: pointer;
    }
  }

  .message-list {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 0 6px 6px 6px;

    .user {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 6px 10px;
      border-radius: 4px;
      margin-top: 2px;
      color: var(--text-color);
      cursor: pointer;
      user-select: none;

      &:hover {
        background-color: var(--gray-alpha-20);
      }

      .info {
        display: flex;
        align-items: center;

        .avatar {
          position: relative;
          display: flex;
          align-items: center;

          .photo {
            width: 34px;
            height: 34px;
            border-radius: 999px;
            object-fit: cover;
          }

          .icon-dot {
            position: absolute;
            right: -3px;
            bottom: -3px;
            border-radius: 50%;
            background-color: var(--main-bg);
            color: green;
          }
        }

        .user-name {
          display: flex;
          flex-direction: column;
          margin-left: 12px;

          .name {
            font-weight: 500;
          }
        }
      }
    }

    .active {
      border: 1px solid var(--gray-alpha-20);
      background-color: var(--second-bg);
      box-shadow: var(--box-shadow);

      &:hover {
        background-color: var(--second-bg);
        cursor: default;
      }
    }
  }
}

.container {
  flex: 1;
}
