.wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--default-layout-header-height));

    overflow: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;

    h1 {
        font-size: 3rem;
        color: var(--black-alpha-80);
        margin: 8px;
    }
}

.header-center {
    display: flex;
    align-items: center;
    gap: 10px;

    h3 {
        color: var(--black-alpha-80);
        width: 145px;
        text-align: center;
    }
}

.icon-prev,
.icon-next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        background-color: var(--gray-alpha-20);
    }
}

.header-right {
}

.today-btn {
    margin: 0 18px;
    padding: 6px 12px;
    font-size: 2rem;
    font-weight: 600;
    color: var(--black-alpha-60);
    border-radius: 6px;
    box-shadow: 0px 1px 6px rgb(0 0 0 / 15%);
    cursor: pointer;
}

.container {
    display: flex;
    flex: 1;
    width: 100%;
}

.sidebar {
    width: 250px;
    overflow: auto;
}

.create-calendar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 90%;
    padding: 12px 16px;
    margin: 12px auto;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 6px;
    color: var(--white);
    background-color: var(--default-background-color);
    box-shadow: 0px 1px 6px rgb(0 0 0 / 40%);
    opacity: 0.9;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

.content {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100%;
}

.row-day {
    display: flex;
    flex-direction: column;
    border: 0.5px solid var(--gray-alpha-20);
}

.day-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.day {
    margin-top: 6px;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--black-alpha-80);
}

.sunday {
    color: red;
}

.saturday {
    color: blue;
}

.date {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-top: 4px;
    border-radius: 50%;
    opacity: 0.3;
    cursor: pointer;

    &:hover {
        background-color: var(--gray-alpha-20);
    }
}

.today {
    background-color: var(--blue-alpha-90);
    color: white;
    border-radius: 50%;
    opacity: 1;

    &:hover {
        background-color: var(--blue);
    }
}

.day-of-current-month {
    opacity: 1;
}
