.wrapper {
    position: relative;
}

.date-picker {
    width: fit-content;
    color: var(--text-color);
    display: flex;
    gap: 10px;
}

.date-ipt {
    width: 170px;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    color: var(--text-color);
    padding-bottom: 6px;
    border-bottom: 2px solid var(--gray-alpha-20);
    cursor: pointer;
}

.calendar-picker {
    position: absolute;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    border: 1px solid var(--gray-alpha-20);
    z-index: 2;
}
