.wrapper {
    border-radius: 10px;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    height: 100%;
    overflow: overlay;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 2px solid var(--gray-alpha-20);

    .header-left {
        display: flex;
        flex-direction: column;
        font-size: 2.2rem;
        font-weight: 700;

        .identify {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1;
            color: var(--gray);
        }
    }

    .edit-btn {
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 6px 12px;
        border: 1px solid var(--gray-alpha-20);
        border-radius: 6px;
        box-shadow: var(--box-shadow);
        user-select: none;
        cursor: pointer;

        &:hover {
            color: var(--blue);
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    gap: 30px;

    .full-name,
    .email-and-birth,
    .phone-and-position,
    .hashtag-and-gender,
    .address-container,
    .country-and-city {
        display: flex;
        width: 100%;
        gap: 20px;
    }

    .address-container {
        margin-bottom: 20px;
    }

    .first-name,
    .last-name,
    .email,
    .birth,
    .phone,
    .position,
    .hashtag,
    .gender,
    .address-01,
    .address-02,
    .country,
    .city {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .first-name-field,
    .last-name-field,
    .email-field,
    .birth-field,
    .phone-field,
    .position-field,
    .hashtag-field,
    .gender-field,
    .country-field,
    .city-field {
        position: relative;
        width: 100%;
        height: 46px;
    }

    .address-field {
        position: relative;
        width: 100%;
    }

    .label {
        position: absolute;
        display: flex;
        align-items: center;
        font-weight: 700;
        bottom: 100%;
        left: 16px;
        transform: translateY(50%);
        padding: 0 8px;
        border-radius: 8px;
        background-color: var(--main-bg);

        .icon-person,
        .icon-email,
        .icon-birth,
        .icon-phone,
        .icon-position,
        .icon-hashtag,
        .icon-gender,
        .icon-country {
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            margin-right: 4px;
        }
    }

    .input {
        width: 100%;
        height: 100%;
        border: 1px solid var(--gray-alpha-40);
        border-radius: 6px;
        padding: 0 10px;
        font-size: 1.6rem;
        transition: box-shadow 0.2s;

        &:hover {
            border-color: var(--blue-alpha-40) !important;
            box-shadow: var(--box-shadow-input-hover);
        }

        &:focus {
            border-color: var(--blue-alpha-40) !important;
            box-shadow: var(--box-shadow-input-focus);
        }
    }

    .input[type='text']:disabled:hover {
        border-color: var(--gray-alpha-40) !important;
        box-shadow: none;
    }

    .gender-option {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        border: 1px solid var(--gray-alpha-40);
        border-radius: 6px;
        padding: 0 10px;
        font-size: 1.6rem;
        transition: box-shadow 0.2s;
        cursor: pointer;

        &:hover {
            border-color: var(--blue-alpha-40);
            box-shadow: var(--box-shadow-input-hover);
        }

        &:focus {
            border-color: var(--blue-alpha-40);
            box-shadow: var(--box-shadow-input-focus);
        }

        .icon-dropdown {
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            transition: transform 0.2s;
        }
    }

    .disable {
        border-color: var(--gray-alpha-40) !important;
        box-shadow: none !important;
        cursor: default;
    }

    .toggle-dropdown .icon-dropdown {
        transform: rotate(90deg);
    }

    .address-label,
    .bio-label {
        padding-left: 10px;
        font-size: 1.8rem;
        font-weight: 700;
        border-bottom: 1px dashed var(--gray-alpha-40);
    }

    .textarea,
    .textarea-bio {
        width: 100%;
        height: 86px;
        padding: 8px;
        font-size: 1.6rem;
        color: var(--text-color);
        background-color: transparent;
        border-color: var(--gray-alpha-40);
        transition: box-shadow 0.2s;
        outline: none;
        border-radius: 6px;
        resize: none;

        &:hover {
            border-color: var(--blue-alpha-40) !important;
            box-shadow: var(--box-shadow-input-hover);
        }

        &:focus {
            border-color: var(--blue-alpha-40) !important;
            box-shadow: var(--box-shadow-input-focus);
        }
    }

    .textarea[type='text']:disabled:hover,
    .textarea-bio[type='text']:disabled:hover {
        border-color: var(--gray-alpha-40) !important;
        box-shadow: none;
    }

    .textarea-bio {
        margin-top: -10px;
        min-height: 120px;
    }

    .error-ipt {
        border: 1px solid var(--red) !important;
    }

    .error-color {
        color: var(--red);
    }

    .error {
        margin-top: 10px;
        margin-left: 4px;
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--red);

        .icon-warning {
            font-size: 1.2rem;
            margin-right: 4px;
        }
    }

    .action-btn {
        display: flex;
        justify-content: flex-end;
    }

    .save-btn,
    .cancel-btn {
        padding: 10px 18px;
        font-size: 1.7rem;
        font-weight: 600;
        color: var(--white);
        background-color: var(--blue);
        border-radius: 6px;
        cursor: pointer;
        opacity: 0.85;

        &:hover {
            opacity: 1;
        }
    }

    .cancel-btn {
        color: var(--gray-alpha-60);
        background-color: transparent;
        margin-right: 4px;

        &:hover {
            color: var(--text-color);
        }
    }
}
