.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-left {
    display: flex;
    align-items: center;
    font-size: 3rem;
    color: var(--second-color);
    cursor: pointer;
}

//Actions
.header-right {
    position: relative;
    display: flex;
    align-items: center;
}

.more-icon {
    color: var(--second-color);
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.action-btn {
    position: relative;
    display: flex;
    background-color: transparent;
    padding: 0 10px;
    cursor: pointer;
    color: var(--second-color);
}

.icon {
    width: 18px;
    height: 18px;
}

.badge {
    position: absolute;
    top: -5px;
    right: 2px;
    height: 8px;
    width: 8px;
    border-radius: 999px;
    background-color: var(--red);
}

.notification {
    position: relative;
}

.user-avatar {
    width: 35px;
    height: 35px;
    margin: 0 5px 0 15px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}
