.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    margin-left: 4px;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 10px 10px 20px;
    border-radius: 4px;
    box-shadow: var(--box-shadow-sm);
}

.to {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--gray);
}

.name {
    margin-left: 10px;
    font-size: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    height: calc(100% - 74px - 10px);
    padding: 10px 10px 20px 10px;
    margin-top: 4px;
    border-radius: 4px;
    box-shadow: var(--box-shadow-sm);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: overlay;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.content::-webkit-scrollbar {
    display: none;
    width: 0 !important;
}

.message {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
}

.owner {
    flex-direction: row-reverse;

    .message-content {
        background-color: var(--main-bg);
        border-radius: 10px 0 10px 10px;
    }
}

.avatar {
    width: 46px;
    height: 46px;
    border-radius: 999px;
    object-fit: cover;
    box-shadow: var(--box-shadow);
    flex-shrink: 0;
}

.message-content {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    gap: 6px;
    padding: 10px;
    background-color: var(--gray-alpha-20);
    border: 1px solid var(--gray-alpha-10);
    border-radius: 0 10px 10px 10px;
    box-shadow: var(--box-shadow);
}

.image {
    width: 400px;
    object-fit: cover;
}

.chat-time {
    font-size: 1rem;
    color: ver(--text-color);
    align-self: flex-end;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    padding: 10px;
    gap: 10px;
    border: 1px solid var(--gray-alpha-40);
    border-radius: 10px;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
}

.icon-image {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    padding: 6px;
    border-radius: 999px;
    cursor: pointer;

    &:hover {
        background-color: var(--gray-alpha-20);
        border-radius: 10px;
    }
}

.input-message {
    flex: 1;
    padding: 12px 20px;
    font-size: 1.6rem;
    border: 1px solid var(--gray-alpha-20);
    border-radius: 999px;
    box-shadow: var(--box-shadow);
    color: var(--text-color);
}

.emoji {
    position: relative;
}

.emoji-icon {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    padding: 6px;
    border-radius: 999px;
    color: var(--text-color);
    cursor: pointer;

    &:hover {
        background-color: var(--gray-alpha-20);
        border-radius: 10px;
    }
}

.picker-emoji {
    position: absolute;
    bottom: 130%;
    right: 0;
}

.icon-send {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    padding: 6px;
    border-radius: 999px;
    cursor: pointer;

    &:hover {
        background-color: var(--gray-alpha-20);
        border-radius: 10px;
    }
}
