.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    margin-left: 4px;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 10px 10px 20px;
    border-radius: 4px;
    box-shadow: var(--box-shadow-sm);
}

.to {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--black-alpha-60);
}

.name {
    margin-left: 10px;
    font-size: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    // height: calc(100% - 74px - 10px);
    padding: 10px;
    margin-top: 4px;
    border-radius: 4px;
    box-shadow: var(--box-shadow-sm);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: overlay;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.wrapper::-webkit-scrollbar {
    display: none;
    width: 0 !important;
}

.message,
.message-own {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    width: fit-content;
    background-color: var(--skyBlue-alpha-80);
    padding: 7px;
    border-radius: 10px 10px 10px 0;
    gap: 5px;
}

.message-own {
    align-self: end;
    border-radius: 10px 10px 0 10px;
    background-color: var(--white);
}

.chat-time {
    font-size: 1rem;
    color: ver(--text-primary);
    align-self: flex-end;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    gap: 10px;
    border-radius: 10px;
    background-color: var(--white);
}

.icon-image {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
}

.icon-send {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 10px;
    cursor: pointer;
}

.icon-plus {
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 10px;
}

.icon-send {
    margin-left: -10px;
    color: #858585;

    &:hover {
        background-color: rgba(22, 24, 35, 0.06);
        border-radius: 10px;
    }
}

//No chat content
.welcome {
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    margin-top: 5rem;
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        // animation: imgRotate 20s linear infinite;
    }

    // @keyframes imgRotate {
    //     to {
    //         transform: rotate(360deg);
    //     }
    // }

    h1 {
        font-size: 8rem;
        background-image: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-background-clip: transparent;
    }
}
