.search,
.search-result {
  width: 360px;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  height: var(--search-height);
  padding-left: 16px;
  background-color: var(--second-bg);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--gray-alpha-20);
  border-radius: var(--search-border-radius);

  input {
    flex: 1;
    height: 100%;
    padding-right: 40px;
    font-size: 1.6rem;
    color: var(--text-color);
  }

  input:not(:placeholder-shown) ~ .search-btn {
    color: var(--text-color);
  }

  &::after {
    content: '';
    position: absolute;
    top: var(--search-top-spacer);
    right: var(--search-button-width);
    width: 1px;
    height: calc(var(--search-height) - var(--search-top-spacer) * 2);
    background-color: var(--gray-alpha-20);
  }

  &:focus-within {
    border: 1px solid var(--gray-alpha-80);
  }
}

.clear-btn,
.loading {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: calc(var(--search-button-width) + 12px);
  color: var(--gray-alpha-40);
}

.loading {
  animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.search-btn {
  width: var(--search-button-width);
  height: 100%;
  color: var(--gray-alpha-20);
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  cursor: pointer;

  &:hover {
    background-color: var(--gray-alpha-05);
  }

  &:active {
    background-color: var(--text-color);
  }
}
