.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.table {
    width: 100%;
    border-spacing: 0;
    color: var(--text-color);
}

thead {
    text-transform: capitalize;
}

tr {
    text-align: left;
}

th,
td {
    position: relative;
    padding: 10px;
}

th {
    justify-items: center;
    align-items: center;
    border-bottom: 2px solid var(--gray-alpha-20);
}

th::after {
    position: absolute;
    content: '';
    top: 50%;
    right: -1px;
    transform: translateY(-50%);
    height: 40%;
    width: 2px;
    background-color: var(--gray-alpha-10);
}

th:last-child::after {
    display: none;
}

td {
    border-bottom: 1px solid var(--gray-alpha-20);
}

tbody > tr:hover {
    background-color: var(--gray-alpha-10);
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding: 0 20px;
}

.page-size {
    position: relative;

    .size-option {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 110px;
        padding: 4px 8px;
        border: 1px solid var(--gray-alpha-20);
        border-radius: 6px;
        cursor: pointer;

        .icon-dropdown {
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            transition: all 0.2s;
        }
    }

    .toggle-dropdown .icon-dropdown {
        transform: rotate(90deg);
    }
}
