.table-wrapper {
    flex: 1;
    overflow-y: auto;
}

table {
    width: 100%;
    min-width: 500px;
    border-spacing: 0;
}

thead {
    background-color: var(--gray-alpha-10);
}

tr {
    text-align: left;
}

th,
td {
    padding: 14px 10px;
}

td {
    border-bottom: 1px solid var(--gray-alpha-20);
}

tbody > tr:hover {
    background-color: var(--gray-alpha-05);
    color: var(--gray);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-left: 6px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        background-color: var(--gray-alpha-10);
    }
}

.active,
.active:hover {
    background-color: var(--blue);
    color: var(--white);
    font-weight: 600;
    box-shadow: var(--box-shadow);
}
