.wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    background-color: var(--main-bg);
    border: 1px solid var(--gray-alpha-20);
    border-radius: 12px;
    box-shadow: var(--box-shadow);
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 10px;

    h6 {
        font-size: 2rem;
        color: var(--gray-alpha-40);
        user-select: none;
    }

    h3 {
        margin-bottom: 10px;
        text-align: center;
        font-size: 3rem;
        user-select: none;
        color: var(--text-color);
    }
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    user-select: none;

    h1 {
        font-size: 6rem;
        background-image: var(--text-linear-gradient-color);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-background-clip: transparent;
    }
}

.logo {
    width: 100px;
    height: 100px;
}

.close-btn {
    position: absolute;
    top: -5px;
    right: 5px;
    font-size: 1.4rem;
    color: var(--gray);
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: var(--gray-alpha-10);
    }
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.username {
    display: flex;
    gap: 10px;
    width: 100%;
}

.firstname,
.lastname,
.email,
.password,
.confirm-password {
    position: relative;
    width: 100%;
    margin-top: 16px;

    label {
        position: absolute;
        left: 26px;
        top: 50%;
        font-weight: 600;
        transform: translateY(-50%);
        user-select: none;
        pointer-events: none;
        color: var(--gray);
        transition: 0.25s ease;
    }
}

.icon-person,
.icon-mail,
.icon-lock {
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
    pointer-events: none;
    color: var(--text-color);
}

.firstname-ipt,
.lastname-ipt,
.email-ipt,
.password-ipt,
.confirm-password-ipt {
    font-size: 1.6rem;
    line-height: 1;
    color: var(--text-color);
    width: 100%;
    height: 46px;
    padding: 10px 10px 10px 26px;
    border-radius: 8px;
    border: 1px solid var(--gray-alpha-40);
    transition: 0.25s ease;

    &:focus {
        border: 1px solid var(--blue);
    }

    &:not(:placeholder-shown) + label,
    &:focus + label {
        display: inline-block;
        top: 0;
        left: 20px;
        padding: 0 10px;
        background-color: var(--main-bg);
        color: var(--blue);
    }
}

.error-ipt {
    border: 1px solid var(--red);
}

.error {
    display: block;
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--red);
}

.icon-warning {
    font-size: 1.2rem;
    margin-right: 4px;
}

.password-ipt {
    padding-right: 40px;
}

.icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    color: var(--gray);
    cursor: pointer;

    &:hover {
        background-color: var(--gray-alpha-10);
    }
}

.register-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 180px;
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: 700;
    align-self: center;
    border-radius: 8px;
    color: #fff;
    background: var(--button-primary);
    box-shadow: var(--box-shadow);
    opacity: 0.85;
    user-select: none;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

.icon-loading {
    font-size: 2rem;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}
