.wrapper {
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--gray-alpha-60);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.text-center {
    text-align: center;
}

.avatar-field {
    display: flex;
    align-items: center;
    justify-content: center;

    .avatar {
        width: 30px;
        height: 30px;
        border-radius: 999px;
        box-shadow: var(--box-shadow);
        object-fit: cover;
    }
}

.gender-field {
    text-align: center;

    .female-icon,
    .male-icon {
        font-size: 2.2rem;
        user-select: none;
        color: rgb(223, 9, 159);
    }

    .male-icon {
        color: #21a2ff;
    }
}

.face-id-field {
    text-align: center;

    .check-icon {
        font-size: 1.6rem;
        color: green;
        user-select: none;
    }
}

.action-field {
    text-align: center;

    .detail-icon,
    .remove-icon {
        font-size: 1.6rem;
        color: var(--blue);
        cursor: pointer;
    }

    .remove-icon {
        margin-left: 10px;
        color: var(--red);
    }
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    color: var(--text-color);

    .pagination-left {
        .select {
            position: relative;
            display: flex;
            width: fit-content;
        }

        .selected {
            display: flex;
            align-items: center;
            width: 41px;
            padding: 2px 4px;
            border: 1px solid var(--gray-alpha-60);
            border-radius: 4px;
            user-select: none;
            cursor: pointer;
        }

        .dropdown-icon {
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            margin-left: 4px;
        }

        .text-per-page {
            display: flex;
            align-items: center;
            margin-left: 10px;
            font-weight: 600;
        }

        .option {
            position: absolute;
            left: 0;
            top: 100%;
            width: 41px;
            display: flex;
            flex-direction: column;
            border: 1px solid var(--gray-alpha-60);
            border-radius: 4px;
            background-color: var(--main-bg);
            user-select: none;
            cursor: pointer;

            .select-option {
                padding: 2px 4px;

                &:hover {
                    background-color: var(--gray-alpha-10);
                }
            }
        }
    }

    .pagination-right {
        display: flex;
        align-items: center;
        gap: 20px;

        .prev-btn,
        .next-btn {
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            padding: 4px;
            border: 1px solid var(--gray-alpha-20);
            box-shadow: var(--box-shadow);
            border-radius: 4px;
            background-color: var(--second-bg);
            color: var(--text-color);
            cursor: pointer;

            &:hover {
                background-color: var(--gray-alpha-20);
            }
        }

        .page {
            user-select: none;

            .number {
                margin: 0 6px;
                font-weight: 600;
                padding: 2px 8px;
                border: 1px solid var(--gray);
                border-radius: 4px;
            }
        }
    }
}
