.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  flex-shrink: 0;
  border-right: 1px solid var(--gray-alpha-20);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    user-select: none;

    .title {
      font-size: 2.2rem;
      font-weight: 600;
    }

    .action-group {
      position: relative;
      display: flex;
      align-items: center;
      gap: 6px;

      .category-btn,
      .contact-btn,
      .create-btn {
        color: var(--text-color);
        font-size: 1.8rem;
        padding: 2px;
        cursor: pointer;
      }
    }
  }

  .search {
    padding: 10px;
    margin-bottom: 10px;
  }

  .chat-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 4px;
    padding: 2px;
    overflow: overlay;

    .chat {
      position: relative;
      display: flex;
      align-items: center;
      padding: 4px 8px 4px 4px;
      border-radius: 4px;
      margin-top: 4px;
      color: var(--text-color);
      cursor: pointer;

      &:hover {
        background-color: var(--gray-alpha-20);
      }

      .avatar {
        position: relative;
        display: flex;
        align-items: center;

        .photo {
          width: 42px;
          height: 42px;
          border-radius: 999px;
          object-fit: cover;
        }

        .icon-dot {
          position: absolute;
          right: -3px;
          bottom: -3px;
          border-radius: 50%;
          background-color: var(--main-bg);
          color: green;
        }
      }

      .info {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-left: 10px;

        .name,
        .last-msg {
          font-weight: 500;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-word;
        }

        .last-msg {
          font-size: 1.4rem;
          font-weight: unset;
          color: var(--gray);
        }
      }

      .unread {
        position: absolute;
        top: 4px;
        right: 4px;
        width: 8px;
        height: 8px;
        border-radius: 999px;
        background-color: var(--blue);
      }
    }
  }
}

.container {
  flex: 1;
}
