.wrapper {
    position: relative;
}

.avatar {
    display: flex;
    align-items: center;
}

.dropdown-menu {
    position: absolute;
    top: 120%;
    right: 0;
    width: auto;
    padding: 8px 0;
    margin-right: -6px;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    border: 1px solid var(--gray-alpha-10);
    border-radius: 8px;
    z-index: 10;
}
