.wrapper {
    border-radius: 10px;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid var(--gray-alpha-20);

    .title {
        font-size: 2rem;
        font-weight: 700;
        color: var(--text-color);
    }
}

.container {
    display: flex;
    padding: 20px;

    .form {
        display: flex;
        flex-direction: column;

        .old-password,
        .new-password,
        .confirm-password {
            display: flex;
            flex-direction: column;
            min-width: 350px;
            margin-top: 50px;
        }

        .old-password-field,
        .new-password-field,
        .confirm-password-field {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 46px;
            padding: 0 10px;
            border: 1px solid var(--gray-alpha-40);
            border-radius: 6px;
            transition: box-shadow 0.2s;

            &:hover {
                border-color: var(--blue-alpha-40) !important;
                box-shadow: var(--box-shadow-input-hover);
            }

            .label {
                position: absolute;
                font-weight: 700;
                bottom: 100%;
                left: 10px;
                transform: translateY(50%);
                padding: 0 8px;
                border-radius: 8px;
                background-color: var(--main-bg);
                user-select: none;
            }

            .input {
                width: 100%;
                height: 100%;
                font-size: 1.6rem;
            }

            .input:not(:placeholder-shown) ~ .icon-eye {
                display: flex;
            }

            .icon-eye {
                display: none;
                align-items: center;
                font-size: 1.6rem;
                padding: 6px;
                margin-left: 10px;
                border-radius: 50%;
                cursor: pointer;

                &:hover {
                    background-color: var(--gray-alpha-10);
                }
            }
        }

        .change-password-btn {
            display: inline-block;
            width: fit-content;
            margin-top: 20px;
            margin-left: auto;
            padding: 10px 18px;
            font-weight: 600;
            color: var(--white);
            background-color: var(--blue);
            border-radius: 6px;
            cursor: pointer;
            opacity: 0.85;

            &:hover {
                opacity: 1;
            }
        }

        .error {
            margin-top: 10px;
            margin-left: 4px;
            font-size: 1.4rem;
            font-weight: 600;
            color: var(--red);

            .icon-warning {
                font-size: 1.2rem;
                margin-right: 4px;
            }
        }

        .error-ipt {
            border: 1px solid var(--red) !important;
        }
    }

    .validate-condition {
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin-left: 80px;

        .condition {
            display: flex;
            align-items: center;
            gap: 14px;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1;
            margin-top: 20px;
            margin-left: 20px;
            color: var(--warning-color-dark);

            .icon {
                display: flex;
                align-items: center;
                font-size: 1.5rem;
                user-select: none;
            }
        }

        .validated {
            color: var(--done-color-dark);
        }
    }
}
